@inherits LayoutComponentBase

@inject NavigationManager Nav
@inject AppStateService AppState
@inject IHouseholdChoresViewModel ViewModel

<HeadContent>
    <link id="ct-theme" rel="stylesheet" href="css/themes/dark/theme.css" />
</HeadContent>

<div class="root">
    <Views.Header />

    <main class="main">
        @Body
    </main>
</div>

<Controls.ModalHost />

@code {
    protected override void OnInitialized()
    {
        AppState.SetNavigationManager(Nav);
        AppState.SetViewModel(ViewModel);
    }
}