@inherits LayoutComponentBase

<HeadContent>
    <link id="ct-theme" rel="stylesheet" href="css/themes/dark/theme.css" />
</HeadContent>

<div class="root">
    <Views.Header />

    <main class="main">
        @Body
    </main>
</div>

