.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    padding: 0 var(--gap-xl);
    backdrop-filter: blur(50px);
    z-index: 951;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-card);
}


.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xxs);
}