.householdDeals {
    display: grid;
    grid-template-areas:
        'btn title'
        '. progressbar';
    grid-template-columns: auto 5fr;
    gap: var(--gap-xxxs) var(--gap-xs);
    align-items: center;
}

    .householdDeals.editMode {
        display: grid;
        grid-template-columns: repeat(3, var(--btn-height-xs)) 5fr;
        gap: var(--gap-xxxs) var(--gap-xxxs);
    }

.btn {
    grid-area: btn;
}

.title {
    grid-area: title;
}

.horizontalPlaceholder {
    display: none;
}

.progressbar {
    grid-area: progressbar;
}

.children {
    padding-left: calc(var(--gap-xl) + var(--gap-xs) / 2);
}