@namespace Views

@using Model = CleanTimer.Models.HouseholdChore

<div class="householdDeals">
    <button>Reload</button>

    <Controls.Text Value="@Model.Name" Size="@UI.Controls.Text.Size.SM"/>
    <div></div>
    <Controls.ProgressBar />
</div>

@code {

    [Parameter]
    public required Model Model { get; set; }
}
