.about {
    margin-top: var(--header-height);
    padding-top: var(--gap-sm);
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

    .about .title {
        display: flex;
        justify-content: center;
        margin: var(--gap-sm) 0 var(--gap-xxs) 0;
    }

    .about .glossary {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xxs);
        margin-top: var(--gap-sm);
    }

        .about .glossary .glossaryItem {
            display: flex;
            align-items: center;
            gap: var(--gap-xxs);
        }