.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: var(--gap-xl);
    margin-top: var(--header-height);

    height: calc(100dvh - var(--header-height));
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-lg);
}

.fields {
/*    flex-grow: 1;*/
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-sm);
}

.datetimeLabel {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xs);

    margin-bottom: var(--gap-xs);
}

.timeUnits {
    display: flex;
    gap: var(--gap-xs);
}

.saveButton {
    width: 100%;
    margin-top: var(--gap-xl);
}