.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-sm);

    padding: var(--gap-xl) 0;
    margin-top: var(--header-height);

    height: calc(100dvh - var(--header-height));
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.field {
    display: flex;
    gap: var(--gap-xxxs);
    flex-direction: column;
}

.datetimeLabel {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xs);

/*    margin-bottom: var(--gap-xs);*/
}

.timeUnits {
    display: flex;
    gap: var(--gap-xs);
}

.saveButton {
    width: 100%;
    padding: 0 var(--gap-lg);
}