.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choresPanel {
    position: sticky;
    top: var(--header-height);
    z-index: 1;
    padding-top: var(--gap-lg);
    background-color: var(--surface-ground);
    transition: top linear 0.3s;
}

.separator {
    height: var(--gap-xs);
}

.chores {
    display: flex;
    flex-direction: column;
    padding: var(--gap-lg) 0;
    margin-top: calc(var(--gap-xxxl) + var(--gap-lg));
    overflow-x: scroll;
}

    .chores.readMode {
        gap: var(--gap-xxs);
    }