.form {
    padding: var(--gap-lg);
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: var(--gap-lg);
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-sm);
}

.datetimeLabel {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xs);

    margin-bottom: var(--gap-xs);
}

.timeUnits {
    display: flex;
    gap: var(--gap-xs);
}

.saveButton {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--gap-lg);
}