@using Models;

@page "/"

<div class="householdDeals">
    @foreach (HouseholdChore deal in deals)
    {
        <Views.HouseholdChore Model="@deal" />
    }
</div>

<div style="height: 100px"></div>

<Controls.ProgressBar Value="0.5" />
<Controls.ProgressBar Value="0.3" />
<Controls.ProgressBar Value="0.73" />

@code {
    private IList<HouseholdChore> deals = new List<HouseholdChore>
    {
        new() {Name = "Floor"},
        new() {Name = "Working place"},
        new() {Name = "Bathroom"},
        new() {Name = "Bed sheets"},
        new() {Name = "Kitchen"},
    };
}