.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editSection {
    position: sticky;
    top: var(--header-height);
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xs);
}

    .header .left {
        display: flex;
        flex-direction: row;
        gap: var(--gap-xs);
    }

    .header .right {
        display: flex;
        gap: var(--gap-xs);
    }

.separator {
    height: var(--gap-xs);
}

.householdChores {
    display: flex;
    flex-direction: column;
    padding: var(--gap-lg);
}

    .householdChores.readMode {
        gap: var(--gap-xxs);
    }

.buttonsWrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

    .buttonsWrapper .buttons {
        display: flex;
        gap: var(--gap-xxs);
        transform: translateY(-100%);
        transition: transform 0.3s linear;
    }

        .buttonsWrapper .buttons.itemSelected {
            transform: translateY(0%);
        }
