@using Models;

@page "/"

<Controls.Card Padding="@UI.Controls.Card.Padding.LG">
    <div class="householdDeals">
        @foreach (HouseholdChoreNode node in ViewModel.tree)
        {
            <Views.HouseholdChore Node="@node" />
        }
    </div>

</Controls.Card>

<div style="height: 800px"></div>

@code {
    [Inject]
    IHouseholdChoresViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.Load();
    }
}