@using Models;

@page "/"

<Controls.Card Padding="@UI.Controls.Card.Padding.LG">
    <div class="householdDeals">
        @foreach (HouseholdChore deal in deals)
        {
            <Views.HouseholdChore Model="@deal" />
        }
    </div>

</Controls.Card>

<div style="height: 800px"></div>

@code {
    private IList<HouseholdChore> deals = new List<HouseholdChore>
    {
        new() {Name = "Floor"},
        new() {Name = "Working place"},
        new() {Name = "Bathroom"},
        new() {Name = "Bed sheets"},
        new() {Name = "Kitchen"},
    };
}