.header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;

    gap: var(--gap-xs);
    margin-bottom: var(--gap-md);
}

.separator {
    height: var(--gap-xs);
}

.householdDeals {
    display: flex;
    flex-direction: column;
}
