.button {
    font-family: var(--font-family-body-md);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    cursor: pointer;

    border: none;
    border-radius: var(--border-radius-md);
}

    .button.size-lg {
        height: var(--btn-height-lg);
        padding: 0 var(--gap-xxl);
        min-width: unset;
    }

        .button.size-lg ::deep .icon {
            font-size: var(--btn-icon-lg);
        }

    .button.size-md {
        height: var(--btn-height-md);
        padding: 0 var(--gap-lg);
        min-width: unset;
    }

        .button.size-md ::deep .icon {
            font-size: var(--btn-icon-md);
        }

    .button.size-sm {
        height: var(--btn-height-sm);
        padding: 0 var(--gap-lg);
        min-width: unset;
    }

        .button.size-sm ::deep .icon {
            font-size: var(--btn-icon-sm);
        }

    .button.size-xs {
        height: var(--btn-height-xs);
        padding: 0 var(--gap-lg);
        min-width: unset;
    }

        .button.size-xs ::deep .icon {
            font-size: var(--btn-icon-sm);
        }

    .button.primary {
        background-color: var(--primary-color);
        color: var(--button-text-primary-color);
    }

        .button.primary ::deep .icon {
            color: var(--button-text-primary-color);
        }

        .button.primary:active {
            background-color: color-mix(in srgb,var(--primary-color), #ffff 5%);
            transform: scale(0.99);
        }

    .button.secondary {
        background-color: var(--secondary-color);
        color: var(--button-text-secondary-color);
    }

        .button.secondary ::deep .icon {
            color: var(--button-text-secondary-color);
        }

        .button.secondary:active {
            background-color: color-mix(in srgb,var(--secondary-color), #ffff 5%);
            transform: scale(0.99);
        }

    .button.tertiary {
        background-color: var(--tertiary-color);
        color: var(--button-text-tertiary-color);
    }

        .button.tertiary ::deep .icon {
            color: var(--button-text-tertiary-color);
        }

        .button.tertiary:active {
            background-color: color-mix(in srgb,var(--tertiary-color), #ffff 5%);
            transform: scale(0.99);
        }

    .button.danger {
        background-color: var(--danger-color);
        color: var(--button-text-danger-color);
    }

        .button.danger ::deep .icon {
            color: var(--button-text-danger-color);
        }

        .button.danger:active {
            background-color: color-mix(in srgb,var(--danger-color), #ffff 5%);
            transform: scale(0.99);
        }

    .button.square {
        aspect-ratio: 1/1;
        min-width: unset;
        padding: 0;
    }

    .button[disabled] {
        cursor: initial;
        opacity: var(--disabled-opacity);
    }

    .button.w100 {
        width: 100%;
    }
