.root {
    position: relative;
}

.main {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: var(--header-height) auto 0 auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: var(--gap-lg) var(--gap-xxs);
}
