.modal {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: var(--gap-lg);
}

    .modal .title {
        display: flex;
        justify-content: center;
    }

    .modal .message {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .modal .buttons {
        display: flex;
        justify-content: center;
        gap: var(--gap-sm);
    }
