@namespace Views

@inject AppStateService AppState
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<header id="header" class="header">
    <div>
        <Controls.H Level="2" Text="Clean Track" />
    </div>

    <div class="right">
        <Controls.Button Icon="@UI.Controls.Icon.Text.INFO" Variant="@UI.Controls.Button.Variant.TRANSPARENT" Size="@UI.Controls.Button.Size.LG" OnClick="goToAboutPage" />
    </div>
</header>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("ctOnScroll");
        }
    }

    private void goToAboutPage()
    {
        if (AppState.IsAboutPage) return;
        Navigation.NavigateTo($"about");
    }
}
